@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{max-width: 1400px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;
}
body{
    background-color: #1A0B2E;
}

nav{
    max-width: 100%;
    height: 200px;
    margin: 0 auto;
    padding: 16px 20px ;
    gap: auto;
    background-color: #1A0B2E;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .menu{
  list-style-type: none;
    display: flex;
    gap: 32px;
    justify-content: center;
     align-items: center;
     border-radius: 20px;
    
    
 }
 a{color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
   
 }
 .btn-arrow {
    width: 115px;
    height: 35px;
   background-image: linear-gradient(47.64deg, #F7E93F, #FB09B4,#9100F8);
  border-radius: 10000px;
/*background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));*/
  color: white;
  padding: 16px 12px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  
}
.hamburger{
  display: none;
}

.img-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 600px;
    border: 2px solid rgb(50, 50, 50);
}

.image-bg{
    width: 100%;
   margin:0 auto;
    height: 700px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
   
}

.background-image{
    width: 100%;
 height: 100%%;
  position: absolute;
 
  
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-image{
    position: absolute;
    top: 40%;
    left: 50%;
   transform: translate(-50%, -50%);
   }
  

.microphone{
    position: absolute;
  top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    
}
.new{
    background-color: #00FF88;
    position: absolute;
    top: 20%;
    right: 40%;
    width: 45px;
    height: 22px;
    font-weight: bold;
    border-radius: 5000px;
   text-align: center;
    
  
}
.text{
   
   margin: 0;
   padding: 0;
   bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bold-text{
     position: absolute;
  top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#FFFFFF;
    font-size: 60px;
    font:bold;
   width: 550px;
   height: 73px;
   margin: 0;
   padding: 0;
   bottom: 0;
   
  text-align: center;
}
.small-text{
     position: absolute;
  top: 97%;
    left: 33%;
color:#FFFFFF;
    font-size: 14px;
    font:smaller;
}
.button{
    position: absolute;
  top: 100%;
    left: 40%;
    display: flex;
   
    gap: 20px;
}
.btn-listen {
    margin-top: 10px;
    width: 190px;
    height: 35px;
   background-image: linear-gradient(47.64deg, #F7E93F, #FB09B4,#9100F8);
  border-radius: 10000px;
/*background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),
rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));*/
 color: white;
  padding: 10px 12px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
 justify-content: center;
 gap: 5px;
  }
  .btn-subscribe{
    margin-top: 10px;
    color: #00FF88;
    border: 2px solid #00FF88;
    background: none;
    width: 150px;
    height: 30px;
    border-radius: 10000px;
display: flex;
 justify-content: center;
 gap: 5px;
   
  }
  .about-text{
    margin: 0 auto;
    padding-top: 50px;
    width: 1000px;
    text-align: center;
    color:#FFFFFF;
    font-size: 14px;
    font:smaller;
    gap: 50px;
    
   
  }
  .podcast{
    width: 900px;
    height: 58px;
    font-size: 48px;
    padding: 40px;
  }
  .description{
    margin: 0 auto;
    padding: 50px;
  }
  
/*responsive media query*/
@media screen and (max-width:576px) {
    .menu, .btn-arrow{
        display: none;
    }
    .hamburger{
        display: inline;
    }

}
@media screen and (min-width: 576px) and (max-width: 992px) {
 nav{
    flex-direction: column;
    row-gap: 20px;
}
}
@media screen and (min-width: 992px) {
    nav{
        padding: 16px 100px;
    }
}
