@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{max-width: 1600px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;
}
body{
    background-color: #1A0B2E;
}

nav{
    max-width: 100%;
    height: 200px;
    margin: 0 auto;
    padding: 16px 20px ;
    gap: auto;
    background-color: #1A0B2E;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .menu{
  list-style-type: none;
    display: flex;
    gap: 32px;
    justify-content: center;
     align-items: center;
     border-radius: 20px;
    
    
 }
 a{color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
   
 }
 .btn-arrow {
    width: 115px;
    height: 35px;
   background-image: linear-gradient(47.64deg, #F7E93F, #FB09B4,#9100F8);
  border-radius: 10000px;
/*background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));*/
  color: white;
  padding: 16px 12px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  
}
.hamburger{
  display: none;
}

.img-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 600px;
    border: none;
}

.image-bg{
    width: 100%;
   margin:0 auto;
    height: 1200px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
   
}

.background-image{
    width: 100%;
 height: 100%;
  position: absolute;
 
  
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-image{
    position: absolute;
    top: 40%;
    left: 50%;
   transform: translate(-50%, -50%);
   }
  

.microphone{
    position: absolute;
  top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    
}
.new{
    background-color: #00FF88;
    position: absolute;
    top: 20%;
    right: 40%;
    width: 50px;
    height: 22px;
    font-weight: bold;
    border-radius: 5000px;
   text-align: center;
    
  
}
.text{
   
   margin: 0;
   padding: 0;
   bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bold-text{
     position: absolute;
  top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#FFFFFF;
    font-size: 60px;
    font:bold;
   width: 550px;
   height: 73px;
   margin: 0;
   padding: 0;
   bottom: 0;
   
  text-align: center;
}
.small-text{
     position: absolute;
  top: 97%;
    left: 33%;
color:#FFFFFF;
    font-size: 14px;
    font:smaller;
    text-align: center;
}
.button{
    position: absolute;
  top: 100%;
    left: 35%;
    display: flex;
    padding: 20px;
    gap: 10px;
    padding-bottom: 50px;
}
.btn-listen {
    margin-top: 10px;
    width: 205px;
    height: 44px;
   background-image: linear-gradient(47.64deg, #F7E93F, #FB09B4,#9100F8);
  border-radius: 10000px;
/*background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),
rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));*/
 color: white;
  padding: 10px 12px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
 justify-content: center;
 gap: 5px;
  }
  .btn-subscribe{
    margin-top: 10px;
    color: #00FF88;
    border: 2px solid #00FF88;
    background: none;
    width: 150px;
    height: 44px;
    border-radius: 10000px;
display: flex;
 justify-content: center;
 align-items: center;
 gap: 5px;
   
  }
  .about-text{
    margin: 0 auto;
    padding-top: 100px;
    width: 1000px;
    text-align: center;
    color:#FFFFFF;
    font-size: 14px;
    font:smaller;
    gap: 50px;
   
  }
  .podcast{
    width: 900px;
    height: 58px;
    font-size: 48px;
    padding: 40px;
  }
  .description{
    margin: 0 auto;
    padding: 50px;
  }
  .static-items{
    display: grid;
    grid-template-columns: 4;
    
  }
  .about{
        width: 1600px;
        height: 646px;
        padding: 100px 100px 50px 50px;
    }
  
  .info-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    padding: 50px 120px 0 0;
}
.info-card{
    border: 1px;
    color: #00FF88;
    width: 240px;
    height: 94px;
    gap: 80px;
}
.info-card>p{
    color: #FFFFFF;
    font-size:smaller;
    
}

.techwave-section{
    width: 1600px;
   min-height: 1200px;
    background-color: #230E3D;
    color: #FFFFFF;
    border: #00FF88;
    justify-content: center;
    
    
}
.card-holder{
    max-width: 1400px;
    height: 800px;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: 200px;
    margin-right: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: left;
   
    gap: 30px;

}

.card-header{
     width: 1600px;
     margin-top: 10px;
    height: 58px;
    font-size: 48px;
    color: #FFFFFF;
    padding: 40px;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
}

.techwave-card-1{
    grid-column: span 1;
    grid-row: span 2;
   padding: 40px;
  border-radius: 40px;
    background-color: #351165
}

.techwave-card-2{
    grid-column: span 2;
    grid-row: span 1;
border-radius: 40px;
 padding: 40px;
    background-color: #351165;
}
.techwave-card-3{
    grid-column: span 2;
    grid-row: span 1;
  border-radius: 40px;
   padding: 40px;
    background-color: #351165;

}
.techwave-card-4{
    grid-column: span 2;
    grid-row: span 1;
   border-radius: 40px;
    padding: 40px;
    background-color: #351165;

}
.techwave-card-5{
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 40px;
     padding: 40px;
    background-color: #351165;

}
.episode-container{
    max-width: 1400px;
    height: 600px;
    margin-top: 120px;
margin-bottom: 120px;
margin-left: 200px;
margin-right: 200px;
}
.episode-card-container{
    display: flex;
flex-direction: row;
gap: 30px;
}
.episode{
    color: #FFFFFF;
}
.episode-card-1{
    width: 380px;
    height: 440px;
    color: #FFFFFF;
    font-size: smaller;
    background-color: #250D44;
    border-radius: 24px;
    text-align: center;
    gap: 20px;
   
}
.episode-card-2{
    width: 380px;
    height: 440px;
    color: #FFFFFF;
    font-size: smaller;
    background-color: #250D44;
    border-radius: 24px;
    text-align: center;
}
.episode-card-3{
    width: 380px;
    height: 440px;
    color: #FFFFFF;
    font-size: smaller;
    background-color: #250D44;
    border-radius: 24px;
    text-align: center;
}
.clock{
    text-align: left;
    align-items: center;
    gap: 50px;
    color: #00FF88;}
.cposition{width: 20px;
height: 20px;}
.footer-item{
    color: #FFFFFF;
    background-image: url(./assets/footer-bg.png);
    width: 100%;
    height: 412px;
    position: relative;
}
.footer-tech{
    width: 300px;
    height: 50px;
    position: absolute;
    right: 40%;
    bottom: 60%;
}

.logo-container{
    display: flex;
    flex-direction: row;
    gap: 32px;
    position: absolute;
    top: 51%;
    left: 35%;
}
.copyright{
    color: #FFFFFF;
    position: absolute;
    bottom: 30%;
    left: 40%;
}

/*responsive media query*/
@media screen and (max-width:576px) {
    .menu, .btn-arrow{
        display: none;
    }
    .hamburger{
        display: inline;
    }
    .new{
         top: 15%;
    right: 30%;
    }
    
.button{
    top: 100%;
    left: 10%;
    bottom: 0%;
   
}
  .bold-text{
    top:80% ;
left: 50%;}
.small-text{
     top: 90%;
    left: 10%; 
}

.about-text{
    margin: 0;
    padding: 0;
    width: 450px;
    text-align: left;
}
h1{
    padding: 0;
    text-align: left;
}
.info-container{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-content:left;
    padding: 0;
    margin: 0;
}
.techwave-section{
    
justify-content: left;
align-items: self-start;
}
.card-header{text-align: left;
    padding-left: 100px;
    padding-bottom: 0;
font-size:x-large;}
.card-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
  width: 576px;
   height: auto;
   margin-top: 0;
   margin-bottom: 0;
    margin-left: 0;
    padding: 50px;
}
.episode-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.host{

    background-color: #351165;
    color: #FFFFFF;
}

}




@media screen and (min-width: 576px) and (max-width: 992px) {
 nav{
    flex-direction: column;
    row-gap: 20px;
}
}
@media screen and (min-width: 992px) {
    nav{
        padding: 16px 100px;
    }
}
