@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;
}
body{
    background-color: #1A0B2E;
}

nav{
    max-width: 100%;
    margin: 0 auto;
    padding: 16px 20px ;
    gap: auto;
    background-color: #1A0B2E;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .menu{
  list-style-type: none;
    display: flex;
    gap: 32px;
    justify-content: center;
     align-items: center;
     border-radius: 20px;
    
    
 }
 a{color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
   
 }
 .btn-arrow {
    width: 115px;
    height: 35px;
   background-image: linear-gradient(47.64deg, #F7E93F, #FB09B4,#9100F8);
  border-radius: 10000px;
/*background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));*/
  color: white;
  padding: 16px 12px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  
}
.hamburger{
  display: none;
}
.img-text{
    width: 100%;
    height: 800px;
    border: 2px solid rgb(50, 50, 50);
}
.image-bg{
    width: 100%;
   margin: auto;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
   
}
.background-image{
    width: 100%;
  height: 500px;
  position: relative;
  top: 20px;
}
.center-image{
    position: absolute;
    top: 15%;
    margin: 0;
    padding: 0;
width: 350px;
  height:350px;
 
  
  
  
 
 
}
.microphone{
    position: absolute;
    top: 25%;
  
   
    
}
.new{
    background-color: #00FF88;
    position: absolute;
    top: 17%;
    right: 42%;
    width: 60px;
    height: 15px;
    border-radius: 5000px;
   
    
  
}
.text{
    
   
   margin: 0;
   padding: 0;
   bottom: 0;
   left: auto;
   right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bold-text{
    color:#FFFFFF;
    font-size: 60px;
    font:bold;
   
   width: 550px;
   height: 73px;
   margin: 0;
   padding: 0;
   bottom: 0;
   left: auto;
   right: auto;
  text-align: center;
}
.small-text{
color:#FFFFFF;
    font-size: 14px;
    font:smaller;
}
.button{
    display: flex;
   
    gap: 20px;
}
.btn-listen {
    margin-top: 10px;
    width: 190px;
    height: 35px;
   background-image: linear-gradient(47.64deg, #F7E93F, #FB09B4,#9100F8);
  border-radius: 10000px;
/*background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));*/
  color: white;
  padding: 10px 12px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
 justify-content: center;
 gap: 5px;
  }
  .btn-subscribe{
    margin-top: 10px;
    color: #00FF88;
    border: 2px solid #00FF88;
    background: none;
    width: 150px;
    height: 30px;
    border-radius: 10000px;
display: flex;
 justify-content: center;
 gap: 5px;
   
  }
  .about{
    color:#FFFFFF;
    font-size: 14px;
    font:smaller;
  }
/*responsive media query*/
@media screen and (max-width:576px) {
    .menu, .btn-arrow{
        display: none;
    }
    .hamburger{
        display: inline;
    }

}
@media screen and (min-width: 576px) and (max-width: 992px) {
 nav{
    flex-direction: column;
    row-gap: 20px;
}
}
@media screen and (min-width: 992px) {
    nav{
        padding: 16px 100px;
    }
}
